@import "./scss/abstracts/_abstracts-dir";


* {
    box-sizing: border-box;
}

img {
    max-width: 100%;

}

.container {
    border: 2px solid black;
    width: 80%;
    margin: 0 auto;
}

.section-one {
    background-color: #F3EED9;
}

.section-two {

}

.section-three {
    background-color: #222C2A;
}

.section-four {
    background-color: #824936;
}