@import "./scss/abstracts/_abstracts-dir";



* {
    box-sizing: border-box;
}

img {
    max-width: 100%;

}

.container {
    border: 2px solid black;
    width: 80%;
    margin: 0 auto;
    
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 660px;
    background-color: #F3EED9;
    p {
        text-align: center;
        font-size: 60px;
        width: 50%;
        margin: 0 auto;
        font-family: $playFair;
        color:  #824936;
       
    }
}

.section-one-title {
    font-family:  $lighter;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.section-two {
    h2 {
        font-size: 36px;
        font-family: $playFair;
        color:  #824936;
        text-align: center;
    }

}

.section-two-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    
    
    p {
        //justify-content: space-between;
        font-size: 21px;
    }
}

.section-two-title {
    margin-top: 70px;
}

.first-paragraph {
    width: 45%;
}

.second-paragraph {
    width: 45%;
}

.section-two-content {
    margin-bottom: 70px;
}

.section-three {
    background-color: #222C2A;
}

.section-four {
    background-color: #824936;
}