@import "./scss/abstracts/_abstracts-dir";


* {
    box-sizing: border-box;
}

.section-one {
    background-color: rgb(91, 23, 216);
    height: 50%; 
}

.section-one-content {
    width: 60%;
    padding: 50px 130px 100px 100px;
    height: 100%;
}

.section-one-info {
    color: white;
    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 50px;
    }
}

.button {
    background-color: rgb(20, 235, 235);
    color: black;
    padding: 20px;
    border-radius: 100px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-two {
    background-color: white;
    height: 50%;
    color: black;
    padding: 50px;
}

.section-two-content {
    display: flex;
    justify-content: flex-end;
    //padding: 30px;
    
}

.section-two-info {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    border: 2px solid black;
    margin: 20px;
    
    h2 {
        font-size: 2rem;
    }
}

