.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(12, 11, 70);
    height: 50vh;
    width: 50vw;
    padding: 0.5em;
    margin: 25vh auto 0;
}

.item {
    background: lightcoral;
    margin: 0.5em;
    color: white;
}

.one {
    flex-grow: 1;
}

.two {
    flex-grow: 1;
}

.three {
    flex-grow: 1;
}