.container {
    display: flex;
    flex-direction: row;
    
    background: rgb(12, 11, 70);
    height: 50vh;
    width: 30vw;
    padding: 0.5em;
    margin: 25vh auto 0;
}

.item {
    background: lightcoral;
    margin: 0.5em;
    color: white;
}

.one {
    flex: 3 1 250px;
}

.two {
    flex: 0 1 250px;
}

.three {
    flex: 0 1 250px;
}